@use './variables' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;

  color-scheme: light dark;
  color: $text-color;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  @media screen and (min-width: 640px) {
    font-size: 18px;
  }
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
