.App {
  text-align: center;
}

.controls {
  margin-bottom: 20px;
}

.grid {
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  border: 1px solid #000;
  padding: 20px;
  cursor: pointer;
}

.selected {
  background-color: lightblue;
}
